<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">

    <title>
        My leMonde - {% block title %}{% endblock %}
    </title>
    <!-- Bootstrap , fonts & icons  -->
    {% block stylesheets %}
        <!-- third party css -->
        <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <!-- third party css end -->
        <!-- App css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="assets/css/app-modern-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" disabled="disabled">
        <link rel="shortcut icon" href="https://www.lemonde.fr/dist/assets/img/logos/favicon.ico">
    {% endblock %}

    {% block javascripts %}
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/js/app.min.js"></script>
        <script src="assets/js/pages/demo.dashboard.js"></script>
    {% endblock %}
    </head>
<body class="" data-layout="topnav" data-layout-config="{&quot;layoutBoxed&quot;:false,&quot;darkMode&quot;:false,&quot;showRightSidebarOnStart&quot;: true}">
<div class="wrapper">
    <div class="left-side-menu left-side-menu-detached mm-active bg-white" style="background: linear-gradient(135deg,#6379c3 0,#026387 60%);">

        <div class="leftbar-user">

        </div>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav mm-show">

            <li class="side-nav-title side-nav-item mt-3">Mon filtre perso</li>
            <div class="button-list pl-2">
                <button  type="button" class="btn btn-secondary" data-target="#scrollable-modal"><i class="mdi mdi-close"></i> Politique</button>
                <button type="button" class="btn btn-primary" data-target="#standard-modal"><i class="mdi mdi-close"></i> Ukraine</button>
                <button  type="button" class="btn btn-danger" data-target="#fill-danger-modal"><i class="mdi mdi-close"></i> Guerre</button>
            </div>
            <li class="side-nav-item">
            </li>
        </ul>

        <!-- End Sidebar -->

        <div class="clearfix"></div>
        <!-- Sidebar -left -->

    </div>
    <div class="content-page">
        <div class="content">
            {% include '_partials/header.html.twig' %}
            <div class="container-fluid mm-active">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% include '_partials/footer.html.twig' %}
</div>
</body>
</html>
